<%= semantic_form_for :link, url: admin_link_path, method: :patch, html: { class: "link_form" } do |form| %>
  <%= form.inputs "Admin Operation" do %>
    <p>
      <strong>Original URL:</strong>
      <%= @link.original_link %>
    </p>
    <p>
      <strong>Shortened URL:</strong>
      <a href="<%= full_url + @link.hash_key %>"><%= request.host + '/' + @link.hash_key %></a>
    </p>
    <p>
      <strong>Clicks:</strong>
      <%= @link.stat.count %>
    </p>
    <%= form.input :expired, :as => :boolean %>
  <% end %>
  <%= form.actions do %>
    <li><%= form.submit "Update" %></li>
  <% end %>
<% end %>


<%= link_to 'Back', links_path %>
