<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<%= semantic_form_for :link, url: expire_admin_link_path, method: :put, html: { class: "link_form" } do |form| %>
  <%= form.inputs "Admin Operation" do %>
    <p>
      <strong>Original URL:</strong>
      <%= link_to @link.original_link, @link.original_link %>
    </p>
    <p>
      <strong>Shortened URL:</strong>
      <%= link_to display_url_of(@link.hash_key), display_url_of(@link.hash_key) %>
    </p>
    <p>
      <strong>Clicks:</strong>
      <%= @link.stat.real_count %>
    </p>
    <p>
      <strong>Expired:</strong>
      <%= @link.expired %>
    </p>
  <% end %>
  <% unless @link.expired %>
    <%= form.actions do %>
      <li><%= form.submit "Expire" %></li>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'Back', root_path %>
