<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @link.hash %>
</p>

<p>
  <strong>Original link:</strong>
  <%= @link.original_link %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
