<p>
  <strong>Shortened URL:</strong>
  <a href="<%= full_url + @link.hash_key %>"><%= request.host + '/' + @link.hash_key %></a>
</p>

<p>
  <strong>Original URL:</strong>
  <%= @link.original_link %>
</p>

<p>
  <strong>Admin URL:</strong>
  <a href="<%= admin_link_path %>"><%= request.host + admin_link_path %></a>
</p>

<%= link_to 'Back', links_path %>
